.nav_rig p:nth-of-type(4) a{border:1px solid #7b7b7b;color:white;border-radius:8px}

.cont{width:100%;}
.swiper-slide img{width:100%;}
.swiper-wrapper{width:100%}
.swiper-container {width:100%; height: 100%;}
.swiper-slide{width:100%}
li{background:pink;width: 100px;margin:20px;}
.content
		{
			width: 100%;
			height: 100%;
			margin: 10px auto;
		}
		@media screen and (min-width: 980px) /* Desktop */ {
		  .content {
		    width: 100%;
		  }
		}		
		.mygallery
		{
			margin: 25px 0;
		}